* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    width: 420px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #667eea;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5563c1;
}

#clearAll {
    width: 100%;
    margin-top: 10px;
    background: #333;
}

#clearAll:hover {
    background: #111;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background: #f4f4f4;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background: #eaeaea;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}

small {
    color: gray;
    font-size: 11px;
}

li button {
    background: #ff4d4d;
}

li button:hover {
    background: #cc0000;
}

#taskCounter {
    text-align: center;
    margin-top: 10px;
}
